<div class="container">
  @if (weatherInformation$ | async; as weatherInformation) { @if
  (!searchEnabled) {
  <app-current-weather-sidebar
    [currentWeatherInfo]="weatherInformation"
    (searchEnabled)="searchCityHandler($event)"
  ></app-current-weather-sidebar>
  } @else {
  <app-search-sidebar
    (backToCitySidebar)="backToCitySidebarHandler($event)"
    (emitCity)="emitCityHandler($event)"
  ></app-search-sidebar>
  } }
  <app-following-days-and-highlights></app-following-days-and-highlights>
</div>
