.container {
  margin-left: 5%;
  margin-right: 5%;
  .title {
    color: #e7e7eb;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cards {
    app-highlight-card {
      margin-top: 5%;
    }
  }
}
